!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear #{@user.email},
    %p
      The Job you triggered has succesfully completed

      Best Regards,

      The Rise Robot