.content
  .content__section--intro
    .container-fluid
      .row
        .col-12.col-sm-9.col-md-8
          %h1.display-1 Code of Conduct
          %p.lead This Service Provider (SP) will respect the relevant legal frameworks for the protection of personal data, especially the EU data protection directive. The Privacy Policy applies.

          %h3 Name of the service	
          %p RISE

          %h3 Description of the service	
          %p Various services provided by the RISE & SHINE project (Research Infrastructure for the Study of Eurasia)

          %h3 Data controller and a contact person	
          %p Pascal Belouin, Max Planck Institute for the History of Science, Boltzmannstraße 22, 14195 Berlin
          %p= mail_to 'security-rise@mpiwg-berlin.mpg.de'

          %h3 Jurisdiction	
          %p DE-BE Germany Berlin-Brandenburg
          %h3 Personal data processed	
          %p The following data is retrieved from your Home Organisation, and stored internally as part of your user account:
          %ul
            %li your unique user identifier (eduPersonPrincipalName, ePPN)
            %li your Organization's Name (o)
          %h3 The following data is requested from yourself unless your Home Organisation provides it:
          %ul
            %li your E-Mail Address (mail)
            %li your Organization's Name (o)
          %h3 Following data is requested from yourself:
          %ul
            %li Acceptance of the Max Planck Institute for the History of Science's #{link_to 'Terms Of Use', 'https://www.mpiwg-berlin.mpg.de/imprint', target: '_blank'}
          %h3 Purpose of the processing of personal data
          %p Personal data and log files are used for:
          %ul
            %li personalization Web content
            %li user authentication & authorization
            %li producing automatic e-mails informing you of the completion of time-consuming tasks performed by the RISE platform on your behalf
            %li diagnosing technical problems and statistics
          %h3 Third parties to whom personal data is disclosed
          %p Personal data is not disclosed to 3rd parties.
 
          %h3 How to access, rectify and delete the personal data
          %p Contact the RISE team at #{mail_to 'security-rise@mpiwg-berlin.mpg.de'}
          %p To rectify the data released by your Home Organisation, contact your Home Organisation's IT helpdesk.
          %h3 Data retention
          %p Your personal data is deleted upon request or after five years of inactivity as a user.
          %p Web server software logs are deleted after 90 days.
          %h3 Data Protection Code of Conduct	
          %p Your personal data will be protected according to the #{link_to 'Code of Conduct for Service Providers', 'https://geant3plus.archive.geant.net/uri/dataprotection-code-of-conduct/v1/Pages/default.aspx', target: '_blank'}, a common standard for the research and higher education sector to protect your privacy.
