.content
  .content__section--intro
    .container-fluid
      .row
        .col-12.col-sm-9.col-md-8
          %h1.display-1 Imprint


      .row
        .col-12.col-sm-9.col-md-8
          %h3 Provider
          %p The provider of this Internet site within the legal meaning of the term is the registered association Max Planck Society for the Advancement of Science e.V.

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Address
          %ul.list-unstyled
            %li Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.
            %li Hofgartenstrasse 8
            %li 80539 Munich
            %li Germany

          %ul.list-unstyled
            %li Phone: +49 89 2108-0
            %li Internet: www.mpg.de
            %li Email: presse@gv.mpg.de

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Editors
          %p Responsible editor for the contents of the Internet website of the Max Planck Institute for the History of Science with regard to media law is:

          %ul.list-unstyled
            %li Dr. Hansjakob Ziemer
            %li Max Planck Institute for the History of Science
            %li Boltzmannstr. 22
            %li 14195 Berlin
            %li Germany

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Legal structure
          %p The Max Planck Society is a non-profit research facility which is organized as a registered association. All of the institutes and facilities of the Max Planck Society are largely autonomous in terms of organization and research, but as a rule have no legal capacity of their own.

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Liability for contents of online information
          %p As the provider of contents in accordance with Section 7 Paragraph 1 of the Tele-Media Law, the Max Planck Society shall be responsible for any contents which it makes available for use in accordance with general legal provisions. The Max Planck Society makes every effort to provide timely and accurate information on this Web site. Nevertheless, errors and inaccuracies cannot be completely ruled out.

          %p Therefore, the Max Planck Society does not assume any liability for the relevance, accuracy, completeness or quality of the information provided. The Max Planck Society shall not be liable for damage of a tangible or intangible nature caused directly or indirectly through the use or failure to use the information offered and/or through the use of faulty or incomplete information unless it is verifiably culpable of intent or gross negligence. The same shall apply to any downloadable software available free of charge.

          %p The Max Planck Society reserves the right to modify, supplement, or delete any or all of the information offered on its Internet site, or to temporarily or permanently cease publication thereof without prior and separate notification.

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Data collection, processing, and protection
          %p The Max Planck Institute for the History of Science takes the protection of personal data very seriously. We process personal data gathered when visiting this Internet site in compliance with applicable data protection legislation and policy. To learn more, visit Code of Conduct page at https://rise.mpiwg-berlin.mpg.de/pages/coc.

      .row
        .col-12.col-sm-9.col-md-8
          %h3 Links to Internet sites of third parties
          %p This Internet site includes links to external pages. The respective provider shall be responsible for the contents of any linked external pages. In establishing the initial link, the Max Planck Society has reviewed the respective external content in order to determine whether such link entailed possible civil or criminal responsibility. However, a constant review of linked external pages is unreasonable without concrete reason to believe that a violation of the law may be involved. If the Max Planck Society determines such or it is pointed out by others that an external offer to which it is connected via a link entails civil or criminal responsibility, then the Max Planck Society will immediately eliminate any link to this offer. The Max Planck Society expressly dissociates itself from such contents.

      .row
        .col-12.col-sm-9.col-md-8
          %h3 IT management & Website Development
          %p Pascal Belouin, <a href='mailto:pbelouin@mpiwg-berlin.mpg.de'>pbelouin@mpiwg-berlin.mpg.de</a>
      .row
        .col-12.col-sm-9.col-md-8
          %h3 Website design
          %p Mattias Dunker, <a href='http://www.matthiasdunker.de/'>http://www.matthiasdunker.de</a>
      .row
        .col-12.col-sm-9.col-md-8
          %h3 Copyright
          %p The layout, graphics employed, and any other contents on the homepage of the Max Planck Society Internet site are protected by copyright law.
          %p © Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V., Munich. All rights reserved.
