!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear #{@contact.name},
    %p
      We have received your message, and will contact your shortly. Thank you very much!
    %p
      Best Regards,
    %p
      The RISE Team