.modal-header-info
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4.modal-title.display-3
    = icon 'fas', 'book'
    = Corpus.model_name.human
    = @corpus
.modal-body
