%footer.footer
  .container-fluid
    .jumbotron.jumbotron-flush.footer__jumbotron
      .row
        .col-12
          %h3 The RISE Project
      .row
        .col-12.col-md-8.col-lg-4
          %p
            The RISE Project is developed by the Max Planck Institute for the History of Science, with the support of Staatsbibliothek zu Berlin. To see all the project collaborators and learn how you can get involved, please visit the <a href='/pages/community'>community page</a>.
        .col-12.col-md-6.col-lg-4.col-xl-2
          %ul.list-unstyled.footer__list
            %li
              %a.link-with-arrow{:href => "/pages/imprint"} Imprint
            %li
              %a.link-with-arrow{:href => "/pages/coc"} Code of Conduct
        .col-12.col-md-6.col-lg-4
          %ul.list-unstyled.footer__list
            %li
              %a.link-with-arrow{:href => "https://www.mpiwg-berlin.mpg.de/research/projects/digital-humanities-department-iii", :target => "_blank"} MPIWG
            %li
              %a.link-with-arrow{:href => "https://github.com/RISE-MPIWG/", target: '_blank'} Find us on GitHub
            %li
              %a.link-with-arrow{:href => "/pages/community"} Join the Community
      .row
        .col-12
          %p © 2019